# Output Files
out/
target/
logs/
system/

# DAT Files
character.dat

# Resource Files (Run RSoup to fetch)
client/src/main/resources/assets/textures/cards
client/src/main/resources/assets/data
