.global-chat {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-font-family: "EdmundMcMillen_v2";
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-font-size: 13pt;
}

.chat-message {
    -fx-fill: white;
}

.chat-field {
    -fx-font-family: "EdmundMcMillen_v2";
    -fx-font-size: 13pt;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-pref-width: 400px;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.2);
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: #ebebeb;
    -fx-inner-background: transparent;
    -fx-border-color: #ebebeb;
    -fx-accent: #ebebeb;
    -fx-control-inner-background: #ebebeb;
    -fx-inner-border: transparent;
    -fx-inner-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus: transparent;
    -fx-text-box-border: transparent;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
}

.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: #ebebeb; /* Set the background color to the desired color */
    -fx-inner-border: transparent; /* Remove inner border */
    -fx-border-color: transparent;
}