.main {
    -fx-background-image: url("../../textures/cards/CharacterCardBack.png");
    -fx-background-size: contain;
    -fx-font-family: "EdmundMcMillen_v2";
}

.login-field {
    -fx-font-size: 18;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-margin: 24;
}
