.main {
    -fx-background-image: url("../textures/cards/CharacterCardBack.png");
    -fx-background-size: cover;
    -fx-font-family: "EdmundMcMillen_v2";
}

.login-field {
    -fx-font-size: 18;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 8;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-text-alignment: center;
    -fx-margin: 24;
}